body{
    margin: 0;
    text-align: center;
    font-weight:normal;
    font-family: 'Merriweather Sans', sans-serif;
}
h1{
    color:#4DB290; 
    font-family: 'Montserrat', sans-serif;
}
h2,h3{
    color: #197163;
    font-family: 'Montserrat', sans-serif;
}
a{
    color: #2c7d80;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    margin: 10px 25px 0 25px;
}
a:hover{
    color: #EAF6F6;
}
#first-page{
    background-color:#e0ebe8;
}
#name-bio{
    width: 800px;
    margin: 150px auto 0 auto;
    line-height: 1;
}
#name{
    font-family: 'Sacramento', cursive;
    font-size:  4.5rem;
    color: #4db290;;
}
#bio{
    color:#4DB290;
    font-size: 25px;
    font-weight: lighter;
}

#right-cloud{
    position: relative;
    top: 120px;
    left: 470px;
}
#left-cloud{
    position: relative;
    right: 450px;
    bottom: 20px;
}
#img-intro{
    width: 900px;
    margin: 50px auto 50px auto;
}
#My-intro{
    width: 600px;
    margin: 5px 10px 0 auto;
    text-align: left;
    float: right;
    line-height: 2;
}
#My-img{
    margin: 10px 20px 10px 0;
}
#skill{
    width: 900px;
    margin: 0 auto 0 auto;
    text-align: center;
    line-height: 4;
}
#skill-h1{
    margin-bottom: 0;
}
#what-i-can-do{
    width: 800px;
    padding: 5px; 
    margin: 0 auto 0 auto;
    text-align: left;
}
#what-you-want{
    width: 500px;
    margin: 50px 0 50px 5px;
    text-align: left;
}
#what-you-want-img{
    float: right;
    margin: 0 10px 0 5px;
}
#what-you-need{
    width: 550px;
    margin: 0 5px 50px 5px;
    text-align: left;
    float: left;
}
#what-you-need-img{
    margin: 15px 5px 0 110px;
}
hr{
    width: 90px;
    border: 0;
    border-top: dotted;
    border-width: 10px;
    color: coral;
}
.ending{
    background-color: #66BFBF;
}
.bottom{
    color: #2c7d80;
    font-family: 'Montserrat', sans-serif;
}
.copyright{
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 5px 0 5px 0;
}
/*button code start*/
.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #2980b9);
    background-image: -moz-linear-gradient(top, #11cdd4, #2980b9);
    background-image: -ms-linear-gradient(top, #11cdd4, #2980b9);
    background-image: -o-linear-gradient(top, #11cdd4, #2980b9);
    background-image: linear-gradient(to bottom, #11cdd4, #2980b9);
    -webkit-border-radius: 7;
    -moz-border-radius: 7;
    border-radius: 7px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }
/*button code end*/